
<div class='h-screen w-screen flex justify-center items-center'>
<body>
  <% if @hotel.present? %>
    <%= image_for_random_id(@random_id) %>
      <h2><%= @hotel.name %></h2>
      <p><%= @hotel.city%>
      <div class="m-20">
      <%= link_to 'ホテル詳細情報', @hotel.review_url, class: "bg-blue-200 hover:bg-blue-400 text-white font-bold py-1 px-3 rounded" %>
      </div>
    
    <p>口コミをのぞいてみよ</p>
    
      <%= link_to 'くちこみ',  @hotel.name_url, class: "bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" %>
    

    <div>
      <%= link_to hotels_path do %>
        <p> もう一度選ぶ <p>
      <% end %>
      <%= link_to "https://twitter.com/intent/tweet?text=#{@hotel.name} に宿泊してみたい！ &url=https://random_hotel.fly.com" do %>
        <p> X共有 <p>
      <% end %>
    </div>
      
    
    </body>
</div>

      <br>

    <% else %>
      <h2>ホテル情報が見つかりません</h2>
    <% end %>