 <div class="navbar bg-base-100">
  <a class="btn btn-ghost text-xl text-gray-500">RANDOM Hotel</a>
</div>
<div class="w-1/2 md:w-full">
  <div class='h-screen w-screen justify-center items-center'>
  <% if @hotel.present? %>
      
      
      <div class="tats shadow">
        <div class='md:flex flex-col justify-center items-center'>
        <div>
        <%= image_for_random_id(@random_id) %>
        <br/>
        <p class="text-lg font-bold bg-white h-8 justify-center items-center text-gray-500"><%= @hotel.name %> </p>
        </div>
        <br/>
        <div>
        <p class="justify-center items-center text-gray-500"><%= @hotel.city %> </p>
        </div>
        <br/>
      
        <div>
          <%= link_to 'ホテル詳細情報（外部サイトへ）', @hotel.review_url, class: "btn btn-success btn btn-xs transition hover:opacity-40 text-gray-500" %>
          <%= link_to 'くちこみを見る（外部サイトへ）',  @hotel.name_url, class: "btn btn-success btn btn-xs transition hover:opacity-40 text-gray-500" %>
        </div>
        <br/>
        <br/>
        <div>
          <%= link_to new_hotel_path do %>
          <button class="btn btn-secondary btn transition hover:opacity-40 text-gray-500"> もう一度選ぶ </button>
          <% end %>
        </div>
      </div>
      <br/>
      <br/>
    </div>
    
    
  <div class="w-10/12 h-5/6" id="map" ></div>
    
    <br/>
    <div class="md:flex flex-col justify-center items-center">
  
    <br/>

    <div>
      <%= link_to "https://twitter.com/intent/tweet?text=#{@hotel.name}【#{@hotel.city}】 に宿泊してみたい！&url=https://random-hotel.fly.dev/hotels" do %>
        <button class="btn btn-primary btn btn-xs transition hover:opacity-40 text-gray-500"> X共有 </button>
      <% end %>
    </div>
    </div>
  </div>
</div>


<script>
let map;
let service;
let infowindow;

function initMap() {

  infowindow = new google.maps.InfoWindow();
  map = new google.maps.Map(document.getElementById("map"), {
    zoom: 15,
  });

  const request = {
    query: "<%= @hotel.name %>",
    fields: ["name", "geometry"],
  };

  service = new google.maps.places.PlacesService(map);
  service.findPlaceFromQuery(request, (results, status) => {
    if (status === google.maps.places.PlacesServiceStatus.OK && results) {
      for (let i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }

      map.setCenter(results[0].geometry.location);
    }
  });
}

function createMarker(place) {
  if (!place.geometry || !place.geometry.location) return;

  const marker = new google.maps.Marker({
    map,
    position: place.geometry.location,
  });

  google.maps.event.addListener(marker, "click", () => {
    infowindow.setContent(place.name || "");
    infowindow.open(map);
  });
}

window.initMap = initMap;

</script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>

    
    


      <br>

    <% else %>
      <h2>ホテル情報が見つかりません</h2>
    <% end %>
</div>
